pyrogram
tgcrypto
python-arq
pytgcalls==2.1.0
python-dotenv
tswift
youtube-search-python
requests
aiohttp
aiofiles
asyncio
youtube-search
search-engine-parser
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
yt_dlp
httpx==0.13.3
heroku3
gitpython
