git+https://github.com/pyrogram/pyrogram@master
tgcrypto
youtube-search
git+https://github.com/Itsunknown-12/yt-dl@master
pytgcalls
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
pymongo
dnspython
heroku3
gitpython
search_engine_parser
